# データベース関連
AUTH_POSTGRES_HOST=auth-db
AUTH_POSTGRES_USER=my_user
AUTH_POSTGRES_PASSWORD=my_password
AUTH_POSTGRES_DB=my_database
TZ=Asia/Tokyo

AUTH_POSTGRES_INTERNAL_PORT=5432
AUTH_POSTGRES_EXTERNAL_PORT=5433
AUTH_SERVICE_INTERNAL_PORT=8080
AUTH_SERVICE_EXTERNAL_PORT=8081
AUTH_REDIS_EXTERNAL_PORT=6379

# トークン設定
ALGORITHM=RS256
PRIVATE_KEY_PATH=keys/private.pem
PUBLIC_KEY_PATH=keys/public.pem
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Redis関連
AUTH_REDIS_HOST=auth-redis
AUTH_REDIS_PORT=6379
AUTH_REDIS_PASSWORD=my_redis_password